[Unit]
Description=A Docker Container Running Plex
Documentation=https://github.com/dgonyeo/containers/plex

[Service]
Type=simple
ExecStart=/usr/bin/docker run --rm -h haruko.gonyeo.com -v "%h/.config/plex:/var/lib/plexmediaserver/Library/Application Support" -v %h/Media:/media -p 32400:32400 dgonyeo/plex
Restart=always
RestartSec=5

[Install]
Alias=plex
WantedBy=default.target
