[Unit]
Description=A RKT Container Running acserver
Documentation=https://github.com/dgonyeo/containers/rkt/acserver
After=network.target

[Service]
Type=simple
ExecStart=/home/derek/go/bin/rkt run /home/derek/aci/acserver-latest-linux-amd64.aci --volume acis,kind=host,source=/home/derek/aci -- -port 3001 aci.gonyeo.com /acis /templates dgonyeo s3kr1t
Restart=always
RestartSec=60
KillMode=mixed

[Install]
Alias=acserver
WantedBy=multi-user.target
