[Unit]
Description=A RKT Container Running Derek's Blog
Documentation=https://github.com/dgonyeo/containers/rkt/blog
After=network.target

[Service]
Type=simple
ExecStart=/home/derek/go/bin/rkt run aci.gonyeo.com/blog --private-net=all --port=http:8765
Restart=always
RestartSec=60
KillMode=mixed

[Install]
Alias=blog
WantedBy=multi-user.target
